menu "Modem(HI6930) Drivers"
source "drivers/hisi/modem_hi3xxx/drv/icc/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/ipc/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/adp/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/sync/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/dsp/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/hkadc/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/hwadp/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/loadm/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/balong_fs/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/onoff/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/sec/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/rfile/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/rtc/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/cshell/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/mem/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/udi/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/gpio/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/keyboard/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/balong_timer/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/cipher/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/nvim/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/ios/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/efuse/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/reset/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/lowpower_mntn/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/temperature/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/misc/Kconfig"
source "drivers/hisi/modem_hi3xxx/drv/pm_om/Kconfig"
endmenu
